# Exclude folders:
node_modules
temp
dist
.nuxt
.nitro
.cache
.output

.vscode/ltex.dictionary.*

# See dotenv documentation: https://cli.vuejs.org/guide/mode-and-env.html#environment-variables
*.env*

*.log*
